<html>
 <head>
  <script></script>
  <script>
      let url ="{{url}}"
    console.log(url)
    setTimeout(function () {
       location.replace(url)
    }
   , (1000));
  </script>
 </head>
 
 <body>
  
   <h1>Email verifed succefully</h1>
 </body>
</html>